# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache
flask_session/

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log

# Variables d'environnement
.env

# Dépendances node (si utilisées localement)
node_modules/
